:root {
    --font-family: sans-serif;
    --font-size: 0.75rem;
    --line-height: 200%;
    --table-border: solid 1px #ddd;
    --table-padding: 0.0625rem 0.5rem;
    --table-th-background-color: #f7f7f7;
    --table-td-background-color: white;
    --input-padding: 0.0625rem 0.5rem;
    --input-border-width: 1px;
    --input-border-color: #ccc;
    --input-border-radius: 1px;
    --select-padding: 0.0625rem 0.5rem;
    --select-border: solid 1px #ccc;
    --select-border-radius: 1px;
    --select-background-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGdJREFUOI3tzjsOwjAURNGDUqSgTxU5K2AVrJtswjUsgHSR0qdxAZZFPrS+3ZvRzBsqf9MUtBtazJk+oMe0VTriiZCFX8nbpENMgfARjsn74vKj5IFruhfc8d6zIF9S/Hyk5HS4spMVeFcOjszaOwMAAAAASUVORK5CYII=');
    --textarea-margin: 1px;
    --textarea-padding: 0.0625rem 0.5rem;
    --textarea-border: solid 1px #ccc;
    --textarea-border-radius: 1px;
    --button-margin: 1px;
    --button-padding: 0.0625rem 0.5rem;
    --button-border: solid 1px #ccc;
    --button-border-radius: 1px;
    --button-background-color: #f7f7f7;
    --button-hover-background-color: #eee;
    --dialog-border: solid 1px black;
}

/* global */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
}
html * {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
html *:focus {
    outline: 1px solid black;
}
body {
    margin: 0;
}
h1 {
    font-size: calc(var(--font-size) + 1.0vw);
}
h2 {
    font-size: calc(var(--font-size) + 0.8vw);
}
h3 {
    font-size: calc(var(--font-size) + 0.6vw);
}
h4 {
    font-size: calc(var(--font-size) + 0.4vw);
}
h5 {
    font-size: calc(var(--font-size) + 0.2vw);
}
h6 {
    font-size: calc(var(--font-size) + 0.0vw);
}
small {
    font-size: smaller;
}


/* font */
.font-weight-bold {
    font-weight: 700 !important;
}
.font-weight-normal {
    font-weight: 400 !important;
}
.font-weight-light {
    font-weight: 300 !important;
}
.font-italic {
    font-style: italic !important;
}

/* grid layout */
.container {
    width: 100%;
}
.row {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: nowrap;
    justify-content: unset;
    margin: 0px;
    padding: 0px;
}
.row > * {
    margin: 0px;
    border: none;
}
.col {}
.col-1 {
    width: 8.333333%;
}
.col-2 {
    width: 16.666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333333%;
}
.col-5 {
    width: 41.666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333333%;
}
.col-8 {
    width: 66.666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.333333%;
}
.col-11 {
    width: 91.666667%;
}
.col-12 {
    width: 100%;
}

/* table */
table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    border: var(--table-border);
}
table tr th {
    background-color: var(--table-th-background-color);
    border: var(--table-border);
    padding: var(--table-padding);
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
table tr th:has(*) {
    padding: 1px;
}
table tr td {
    border: var(--table-border);
    padding: var(--table-padding);
    background-color: var(--table-td-background-color);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
table tr td:has(*) {
    padding: 1px;
}
table thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
table tfoot {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}

/* input */
input {
    margin: 0;
    border: solid 1px #ccc;
    border-radius: 1px;
    padding: var(--input-padding);
    height: inherit;
    line-height: inherit;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* select */
select {
    margin: 0;
    padding: var(--select-padding);
    border: var(--select-border);
    border-radius: var(--select-border-radius);
    height: inherit;
    line-height: inherit;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: hidden;
    background-color: unset;
    background-image: var(--select-background-img);
    background-repeat: no-repeat;
    background-position: right 0.1rem center;
    padding-right:2em;
    font-family:inherit;
    font-size:inherit;
}

/* textarea */
textarea {
    margin: 0;
    padding: var(--textarea-padding);
    border: var(--textarea-border);
    border-radius: var(--textarea-border-radius);
    line-height: 150%;
    white-space: pre-line;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    resize: none;
}

/* button */
button {
    margin: var(--button-margin);
    padding: var(--button-padding);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
}
button:hover {
    background-color: var(--button-hover-background-color);
}

/* ul */
ul {
    text-align: left;
}

