// convert unit value
@function unit-value($i, $unit) {
  @return #{$i}#{if($i == 0, '', $unit)};
}

/* hidden attribute */
[hidden] {
  display: none !important;
}

@mixin base-classes($prefix) {
  /* display none */
  .#{$prefix}display--none {
    display: none;
  }

  /* display-grid */
  .#{$prefix}display--grid {
    display: grid;
    grid-auto-rows: min-content;
  }

  /* grid-template-columns */
  @for $i from 1 through 12 {
    .#{$prefix}grid-template-columns--#{$i}fr {
      grid-template-columns: repeat($i, 1fr);
    }
  }
  /* grid-span */
  @for $i from 1 through 12 {
    .#{$prefix}grid-column--span-#{$i} {
      grid-column: span #{$i};
    }
  }
  /* flex */
  .#{$prefix}display--flex {
    display: flex;
    display: -ms-flexbox;
  }

  /* flex-direction */
  @each $value in row row-reverse column column-reverse {
    .#{$prefix}flex-direction--#{$value} {
      flex-direction: #{$value};
    }
  }

  /* flex-wrap */
  @each $value in wrap nowrap {
    .#{$prefix}flex-wrap--#{$value} {
      flex-wrap: #{$value};
    }
  }

  /* flex */
  @for $i from 0 through 12 {
    .#{$prefix}flex--#{$i} {
      flex: $i;
    }
  }

  /* gap, row-gap, column-gap */
  @for $i from 1 through 3 {
    @each $unit in px rem em{
      $value: unit-value($i, $unit);
      .#{$prefix}gap--#{$value} {
        gap: #{$value};
      }
    }
  }

  /* row-gap */
  @for $i from 1 through 3 {
    @each $unit in px rem em{
      $value: unit-value($i, $unit);
      .#{$prefix}row-gap--#{$value} {
        row-gap: #{$value};
      }
    }
  }

  /* column-gap */
  @for $i from 0 through 3 {
    @each $unit in px rem em{
      $value: unit-value($i, $unit);
      .#{$prefix}column-gap--#{$value} {
        column-gap: #{$value};
      }
    }
  }

  /* justify-content */
  @each $value in start center end space-between space-around space-evenly {
    .#{$prefix}justify-content--#{$value} {
      justify-content: #{$value};
    }
  }

  /* align-item */
  @each $value in start center end {
    .#{$prefix}align-items--#{$value} {
      align-items: #{$value};
    }
  }

  /* justify-self */
  @each $value in start center end {
    .#{$prefix}justify-self--#{$value} {
      justify-self: #{$value};
    }
  }

  /* align-self */
  @each $value in start center end {
    .#{$prefix}align-self--#{$value} {
      align-self: #{$value};
    }
  }

  /* margin */
  @for $i from 0 through 3 {
    @each $unit in px rem em {
      $value: unit-value($i, $unit);
      .#{$prefix}margin--#{$value} {
        margin: #{$value};
      }
      // with direction
      @each $direction in top right bottom left {
        .#{$prefix}margin-#{$direction}--#{$value} {
          margin-#{$direction}: #{$value};
        }
      }
    }
  }

  /* padding */
  @for $i from 0 through 3 {
    @each $unit in px rem em {
      $value: unit-value($i, $unit);
      .#{$prefix}padding--#{$value} {
        padding: #{$value};
      }
      // with direction
      @each $direction in top right bottom left {
        .#{$prefix}padding-#{$direction}--#{$value} {
          padding-#{$direction}: #{$value};
        }
      }
    }
  }

  /* white-space */
  @each $value in nowrap pre pre-line pre-wrap {
    .#{$prefix}white-space--#{$value} {
      white-space: #{$value};
    }
  }

  /* overflow */
  @each $value in auto scroll hidden  {
    .#{$prefix}overflow--#{$value} {
      overflow: #{$value};
    }
    .#{$prefix}overflow-x--#{$value} {
      overflow-x: #{$value};
    }
    .#{$prefix}overflow-y--#{$value} {
      overflow-y: #{$value};
    }
  }

  /* border */
  .#{$prefix}border--none {
    border: none;
  }

  /* border-style */
  @each $value in solid dotted dashed groove double {
    .#{$prefix}border-style--#{$value} {
      border-style: #{$value};
    }
  }

  /* border-width */
  @for $i from 0 through 3 {
    @each $unit in px rem em {
      $value: unit-value($i, $unit);
      .#{$prefix}border-width--#{$value} {
        border-width: #{$value};
      }
      // with direction
      @each $direction in top right bottom left {
        .#{$prefix}border-#{$direction}-width--#{$value} {
          border-#{$direction}-width: #{$value};
        }
      }
    }
  }

  /* font-size */
  @for $i from 1 through 3 {
    @each $unit in rem em {
      $value: #{$i}#{$unit};
      .#{$prefix}font-size--#{$value} {
        font-size: #{$value};
      }
    }
  }
  // with keyword
  @each $value in smaller larger xx-small x-small small medium x-large xx-large {
    .#{$prefix}font-size--#{$value} {
      font-size: #{$value};
    }
  }

  /* width */
  @for $i from 1 through 10 {
    $value: $i*10;
    .#{$prefix}width--#{$value} {
      width: #{$value + '%'};
    }
    .#{$prefix}width--#{$value}vw {
      width: #{$value + 'vw'};
    }
  }
  @for $i from 1 through 3 {
    @each $unit in rem em {
      .#{$prefix}width--#{$i + $unit} {
        width: #{$i + $unit};
      }
    }
  }

  /* height */
  @for $i from 1 through 10 {
    $value: $i*10;
    .#{$prefix}height--#{$value} {
      height: #{$value + '%'};
    }
    .#{$prefix}height--#{$value}vh {
      height: #{$value + 'vh'};
    }
  }
  @for $i from 1 through 3 {
    @each $unit in rem em {
      .#{$prefix}height--#{$i + $unit} {
        height: #{$i + $unit};
      }
    }
  }

  /* text-align */
  @each $value in left center right {
    .#{$prefix}text-align--#{$value} {
      text-align: #{$value};
    }
  }

  /* cursor */
  @each $value in pointer now-allowed move {
    .#{$prefix}cursor--#{$value} {
      cursor: #{$value};
    }
  }
}

@include base-classes('');
@media screen and (max-width: 1023px) {
  @include base-classes('s__');
}

